/* Variable */ /* Box-sizing */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* Button */
.btn {
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: 0px;
  padding: 15px;
  border-radius: 25px;
  font-size: 15px;
  box-shadow: 4px 4px 5px #d1d1d1;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 4px 4px 5px #848484;
}

/* body */
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  margin: auto;
  flex-direction: column;
}
@media screen and (min-width: 991.99px) {
  .container {
    max-width: 992px;
  }
}

/* inactive form */
form {
  display: flex;
  justify-content: center;
}
form p {
  margin-left: 15px;
  border: none;
  font-size: 15px;
  text-align: center;
  color: black;
  font-weight: bold;
}

/* zone functioning */
.function {
  padding: 25px 10px 25px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.function li {
  box-shadow: 4px 4px 5px #eaeaea;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  border: 1px;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  font-weight: bold;
  align-items: baseline;
  cursor: pointer;
}
.function li .function_i {
  color: #b7b7b7;
  width: 16px;
}
.function li .fa-1, .function li .fa-2, .function li .fa-3 {
  color: white;
  width: 23px;
  line-height: 23px;
  border: 1px;
  border-radius: 50%;
  background-color: #9356DC;
  font-size: 10px;
  text-align: center;
  margin: 0 30px 0 -30px;
  position: relative;
}
.function li p {
  margin-left: 20px;
}
.function li:hover {
  background-color: #f5edff;
}
.function li:hover > .function_i {
  color: #9356DC;
}

/* Header */
header {
  width: 100%;
  display: flex;
  justify-content: center;
}
header img {
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Zone Search */
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: inset 0px 3px 0px #dbdbdb;
}

.search_city {
  display: flex;
  justify-content: center;
  position: relative;
}
.search_city .search__icon {
  position: absolute;
  left: -30px;
}

.section-search {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section-search .explore {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
.section-search .explore p {
  padding: 20px;
}
.section-search .explore .explore__btn {
  padding-bottom: 50px;
}

/* section list restaurants */
.restaurants {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 15px;
}
.restaurants .title {
  display: flex;
  font-weight: bold;
  padding-bottom: 20px;
}
.restaurants .restaurants__container {
  /* container all card */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 767.99px) {
  .restaurants .restaurants__container {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.restaurants .restaurants__card__container {
  /* Card */
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 767.99px) {
  .restaurants .restaurants__card__container {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.restaurants .restaurants__card__container .restaurants__link {
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: white;
  box-shadow: 4px 4px 5px #eaeaea;
}
.restaurants .restaurants__img {
  display: block;
  position: relative;
}
.restaurants .restaurants__img img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurants .restaurants__new {
  top: 15px;
  right: 20px;
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 2px;
}
.restaurants .restaurants__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}
.restaurants .like {
  /* heart like */
  display: flex;
  justify-content: flex-end;
}
.restaurants .like .heart_empty {
  opacity: 1;
  position: absolute;
}
.restaurants .like .heart_full {
  color: #ae80e5;
  opacity: 0;
}
.restaurants i:hover {
  animation: heart 1s;
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* rules for links */
a {
  text-decoration: none;
  color: black;
}

/* Footer */
footer {
  width: 100%;
  background-color: rgb(53, 53, 53);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 25px;
}
@media screen and (min-width: 767.99px) {
  footer {
    align-items: center;
  }
}
footer .footer__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 767.99px) {
  footer .footer__container {
    align-items: center;
  }
}
footer img {
  filter: invert(100);
  width: 120px;
  margin-bottom: 20px;
}
footer li {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 6px;
  width: 100%;
}
@media screen and (min-width: 767.99px) {
  footer li {
    width: 50%;
  }
}
footer li span {
  margin-right: 10px;
  font-size: 12px;
  width: 5%;
}
footer li a {
  color: white;
}
footer ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 767.99px) {
  footer ul {
    flex-direction: row;
  }
}

/* header menu */
.header__menu {
  display: flex;
  flex-direction: column;
}
.header__menu .header__top {
  display: flex;
  width: 100%;
  justify-content: center;
}
.header__menu .header__top img {
  align-items: center;
}
.header__menu .header__img__background {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header__menu .header__img__background .img__background {
  height: auto;
  max-height: 700px;
  object-fit: cover;
  margin-top: 0px;
}

/* button return */
.return {
  background-color: transparent;
  border: transparent;
  font-size: x-large;
  font-weight: bold;
  position: relative;
  right: 40px;
  cursor: pointer;
}

/* Page Menu */
.Menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  margin-top: -45px;
  border-radius: 30px 30px 0px 0px;
  padding: 17px;
}
.Menu .Menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 15px;
  padding-bottom: 15px;
}
.Menu .Menu__title i {
  font-size: 23px;
}
.Menu h1 {
  font-family: "Shrikhand", cursive;
}
.Menu h2 {
  color: #8c8c8c;
  font-weight: 100;
  font-size: 17px;
  padding-bottom: 3px;
  padding-top: 15px;
}
.Menu span {
  width: 16%;
  border-bottom: 3px solid #b3b3b3;
}

/* Card container */
.Menu__card__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 10px;
  margin-top: 15px;
  border: 1px transparent;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  opacity: 0;
  animation: test 0.5s forwards;
  overflow: hidden;
  /* Card Value */
}
.Menu__card__container .Menu__value {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Button Order */
.order {
  margin-top: 45px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
}
.order .btn {
  padding-right: 25px;
  padding-left: 25px;
}

/* Container information card */
.restaurants__body-bis {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.restaurants__body-bis h3 {
  white-space: nowrap;
}

.restaurants__body-position {
  font-size: 12px;
}
.restaurants__body-position p {
  white-space: nowrap;
}

/* animation */
.anim2 {
  animation-delay: 1s;
}

.anim3 {
  animation-delay: 1.5s;
}

.anim4 {
  animation-delay: 2s;
}

.anim5 {
  animation-delay: 3s;
}

.anim6 {
  animation-delay: 3.5s;
}

.anim7 {
  animation-delay: 4s;
}

.anim8 {
  animation-delay: 4.5s;
}

.anim9 {
  animation-delay: 5s;
}

.anim10 {
  animation-delay: 2.5s;
}

@keyframes test {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}
/* Checkbox and effect hover */
.checkbox {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-color: #99E2D0;
  color: white;
  margin: -10px;
  width: 20%;
  border-radius: 0 10px 10px 0;
  display: none;
  position: relative;
}

@keyframes check {
  from {
    transform: translateX(55px);
  }
}
@keyframes rotation {
  from {
    transform: rotate(180deg);
  }
}
.anim:hover i {
  animation: rotation 0.5s forwards;
}

.anim:hover .checkbox {
  animation: check 0.5s forwards;
  display: flex;
}

.anim:hover p,
.anim:hover h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* loading spinner */
.loader_container {
  background-color: #f6f6f6;
  opacity: 0.8;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  animation: exit 5s forwards;
}

.loader {
  display: flex;
  position: fixed;
  border: 16px solid #f5edff;
  border-top: 16px solid #ae80e5;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear forwards;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
@keyframes exit {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
