/* loading spinner */


.loader_container {
    background-color: $color_general;
    opacity: 0.8;
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    z-index: 1;
    animation: exit 5s forwards;
}



.loader {
    display: flex;
    position: fixed;
    border: 16px solid $color_blue_hover;
    border-top: 16px solid $color_primary_lighten;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear forwards;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    z-index: 1;
   
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);
           visibility: hidden;
    }
  }

  @keyframes exit {
    to {    width:0;
            height:0;
            overflow: hidden;}
  }