/* header menu */

.header__menu {
    display: flex;
    flex-direction: column;
  
    .header__top {
        display: flex;
        width: 100%;
        justify-content: center;
       img {
        align-items: center;
       }
    }
    .header__img__background {
        display: flex;
        flex-direction: column;
        width: 100%;
        .img__background {
            height: auto;
            object-fit: fill;
            margin-top: 0px;
        }
    }
}

/* button return */ 

.return {
    background-color: transparent;
    border: transparent;
    font-size: x-large;
    font-weight: bold;
    position: relative;
    right: 40px;
    
}