.Menu {
    display: flex;
    flex-direction: column;
    background-color: $color_general;
    margin-top: -45px;
    border-radius: 30px 30px 0px 0px;
    padding: 17px;
    .Menu__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 15px;
        padding-bottom: 15px;
        i {
            font-size: 23px;
        }
    }
    h1 {
        font-family: $font_title;
    }
    
    h2 {
        color: lighten($color: #000000, $amount: 55);
        font-weight: 100;
        font-size: 17px;
        padding-bottom: 3px;
        padding-top: 15px;
    }
    span {
        width: 16%;
        border-bottom: 3px solid lighten($color: #000000, $amount: 70);
    }
}

.Menu__card__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    border: 1px transparent;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    opacity: 0;
    animation: test 3s forwards;
    
    .Menu__value {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.order {
   margin-top : 45px;
   margin-bottom: 28px;
   display: flex;
   justify-content: center;
   .btn {
    padding-right: 25px;
    padding-left: 25px;
   }
}

.restaurants__body-position {
    text-overflow: ellipsis;
}

.anim2 {
    animation-delay: 1s;
}
.anim3 {
    animation-delay: 2s;
}
.anim4 {
    animation-delay: 3s;
}

.anim5 {
    animation-delay: 4s;
}
.anim6 {
    animation-delay: 5s;
}
.anim7 {
    animation-delay: 6s;
}
.anim8 {
    animation-delay: 7s;
}
.anim9 {
    animation-delay: 8s;
}

@keyframes test {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}