
/* Page Menu */

.Menu {
    display: flex;
    flex-direction: column;
    background-color: $color_general;
    margin-top: -45px;
    border-radius: 30px 30px 0px 0px;
    padding: 17px;

    .Menu__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 15px;
        padding-bottom: 15px;

        i {
            font-size: 23px;
        }
    }

    h1 {
        font-family: $font_title;
    }

    h2 {
        color: lighten($color: #000000, $amount: 55);
        font-weight: 100;
        font-size: 17px;
        padding-bottom: 3px;
        padding-top: 15px;
    }
   
    span {
        width: 16%;
        border-bottom: 3px solid lighten($color: #000000, $amount: 70);
    }
}

/* Card container */
.Menu__card__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    border: 1px transparent;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    opacity: 0;
    animation: test 1s forwards;
    overflow: hidden;
    /* Card Value */
    .Menu__value {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

/* Button Order */
.order {
    margin-top: 45px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;

    .btn {
        padding-right: 25px;
        padding-left: 25px;
    }
}

/* Container information card */
.restaurants__body-bis {
display: flex;
flex-direction: column;
width: 65%;
    h3 {
        white-space: nowrap;
    }
}

.restaurants__body-position {
    font-size: 12px;
    p{
        white-space: nowrap;
    }
}
/* animation */
.anim2 {
    animation-delay: 1s;
}

.anim3 {
    animation-delay: 2s;
}


.anim4 {
    animation-delay: 3s;
}

.anim5 {
    animation-delay: 4s;
}

.anim6 {
    animation-delay: 5s;
}

.anim7 {
    animation-delay: 6s;
}

.anim8 {
    animation-delay: 7s;
}

.anim9 {
    animation-delay: 8s;
}

.anim10 {
    animation-delay: 2.5s;
}

@keyframes test {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        
    }
}

/* Checkbox and effect hover */
.checkbox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: $color_tertiary;
    color: white;
    margin: -10px;
    width: 20%;
    border-radius: 0 10px 10px 0;
    display: none;
    position: relative;
   
}

@keyframes check {
    from {
        transform: translateX(55px);
    }
    
}

@keyframes rotation {
    from {
        transform: rotate(180deg);
    }
    
}
.anim:hover i {
    animation: rotation 0.5s forwards;
}

.anim:hover .checkbox {
    animation: check 0.5s forwards;
    display: flex;
}

.anim:hover p,
.anim:hover h3 {
    overflow: hidden;
    text-overflow: ellipsis;
}