$color_primary: #9356DC;
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;
$color_localisation: #eaeaea;
$color_general: #f6f6f6;



$font_title: "Shrikhand", cursive;
$font_text: "Roboto", sans-serif;