/* body */

body {
    width: 100%;
    font-family: $font_text;
}

.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    @media screen and(min-width:991.99px){
        max-width: 992px;
    }
}