/* Footer */

footer {
    width: 100%;
    background-color: rgb(53, 53, 53);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 25px;
    @media screen and(min-width:767.99px)
    {
       align-items: center;
    }
    .footer__container {
        display: flex;
        flex-direction: column;
    @media screen and(min-width:767.99px)
    {
       align-items: center;
    }
    }
    img {
        
        filter: invert(100);
        
        width: 120px;
        margin-bottom: 20px;
    }
    li {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        margin-bottom: 6px;
        width: 100%;
        @media screen and(min-width:767.99px){ 
        width: 50%;
        }
        span {
            margin-right: 10px;
            font-size: 12px;
            width: 5%;
        }
        
        
       
        a {
            color: white;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media screen and(min-width:767.99px){ 
            flex-direction: row;
        }
    }
}

