.section-search 
.search{
    width: 100%;
    background-color: $color_localisation ;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: inset 0px 3px 0px darken($color: $color_localisation, $amount: 6);
}
form {
    display: flex;
    justify-content: center;

    p{
        margin-left: 15px;
        border: none;
        font-size: 15px;
        text-align: center;
        color:black;
        font-weight: bold;
    }
}