/* Zone Search */
.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: $color_localisation ;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: inset 0px 3px 0px darken($color: $color_localisation, $amount: 6);
}
.search_city {
    display: flex;
    justify-content: center;
    position: relative;
    .search__icon {
        position: absolute;
        left: -30px;
    }
}
.section-search {
    font-family: $font_text;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    .explore {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
        background-color: $color_general ;
        p {
            padding: 20px;
        }
        .explore__btn {
         padding-bottom: 50px;
        
        }
    }
}
